/* General styles */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font: normal 16px sans-serif;
	color: #555
}
ul, nav{
	list-style: none;
}
a{
	text-decoration: none;
	opacity: 0.75;
	color: #fff;
}
a:hover{
	opacity: 1;
}
a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}
hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}
@media (max-width: 1000px){
	section{
		padding: 100px 50px;
	}
}

@media (max-width: 600px){
	section{
		padding: 80px 30px;
	}
}
section:not(.hero):nth-child(even){
	background-color: #f7f7f7;
}
section h3.title{
	color: #414a4f;
	text-transform: capitalize;
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}
section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}
.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/* header */
header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
	opacity: 0;
	animation: fadeIn 1s ease-in 0.5s forwards;
}
@keyframes  fadeIn {
	100%{
		opacity: 1;
	}
}
@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}
@media (max-width: 700px){
	header{
		flex-direction: column;
	}
	header h2{
		margin-bottom: 15px;
	}
}
header h2{
	font-family: "Quicksand", sans-serif;
}
header nav {
	display: flex;
	margin-right: -15px;
}
header nav li{
	margin: 0 15px;
}
header nav li:first-child{
	margin-left: 0;
}
header nav li:last-child{
	margin-right: 0;
}
/* header */

/* hero */
.hero{
	position: relative;
	min-height: 100vh;
	justify-content: center;
	text-align: center;
	color: #fff;
}
.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}
.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}
.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}
.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}
.hero a.btn{
	padding: 20px 46px;
}
.hero-content-area{
	opacity: 0;
	margin-top: 100px;
	animation: 1s slideIn 1s forwards;
}
@keyframes slideIn {
	100%{
		opacity: 1;
		margin-top: 0;
	}
}
@media (max-width: 800px){
	.hero{
		min-height: 600px;
	}
	.hero h1{
		font-size: 48px;
	}
	.hero h3{
		font-size: 24px;
	}
	.hero a.btn{
		padding: 15px 40px;
	}
}
/* hero */

/* destinations */
.destinations .grid li{
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}
li.small{
	flex-basis: 30%;
}
li.large{
	flex-basis: 70%;
}
@media (max-width: 1000px){
	.destinations .grid li.small,
	.destinations .grid li.large{
		flex-basis: 100%;
	}
}
/* destinations */

/* packages */
.packages .grid li{
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}
.packages .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}
.packages .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}
.packages .grid li p{
    margin: 0;
}
@media (max-width: 1000px){
	.packages .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}
	.packages .grid li:last-child{
		margin-bottom: 0;
	}
}
@media (max-width: 600px){
	.packages .grid li{
		flex-basis: 100%;
	}
}
/* packages */
/* testimonials */
.testimonials .quote{
	text-align: center;
	width: 80%;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
  padding: 0;
}
.testimonials .author{
  font-size: 18px;
  margin-bottom: 50px;
}
.testimonials .author:last-child{
  margin-bottom: 0;
}
@media (max-width: 1000px){
	.testimonials .quote{
		font-size: 20px;
	}
	.testimonials .author{
	    font-size: 16px;
	}
}
/* testimonials */
/* contact */
.contact form{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
}
.contact form .btn{
	padding: 18px 42px;
}
.contact form input{
	padding: 15px;
	flex: 1;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}
@media (max-width: 800px){
	.contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}
/* contact */
/* footer */
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;
}

footer ul li:first-child{
	margin-left: 0;
}

footer ul li:last-child{
	margin-right: 0;
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}
footer p a{
	color: #fff;
}
@media (max-width: 700px){
	footer{
		padding: 80px 15px;
	}
}
/* footer */
